<section class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="footer-logo">
            <img src="" alt="footer-logo">
          </div>
          <div class="footer-top-menu">
            <ul>
              <li>
                <i class="fa fa-home"> </i>
                <span class="heading">Adress</span>
                <span class="address">71 Av. Jean Jaurès, Tunis</span>
  
  
              </li>
              <li>
                <i class="fa fa-envelope">  </i>
                  <span class="heading"> Mail  </span>
                  <span class="email">
                    <a href="mailto:exemple@gmail.com"> teknoshop@gmail.com</a>
                  </span>
  
              </li>
              <li>
                <i class="fa fa-phone"></i>
                <span class="heading">Phone :</span>
                <span class="number">
                  <a href="tel:1-888-345-6799">+216 27 452 919</a>
                </span>
              </li>
              </ul>
              </div>
                <p id="contact-us"> Retrouvez nous sur</p>
              <div class="social">
                <ul class="social-media">
                  <li><a href="#"> <i class="fab fa-facebook-square"></i></a></li>
                  <li><a href="#"> <i class="fab fa-twitter-square"></i></a></li>
                  <li><a href="#"> <i class="fab fa-instagram-square"></i></a></li>
                  <li><a href="#"> <i class="fab fa-google-plus-square"></i></a></li>
        
                </ul>
  
              </div>
              
              
            
          
        </div>
        <div class="col-md-3">
          <div class="footer-all-menu">
            <h2>Tekno Shop</h2>
            <ul>
              <li> 
                <i class="fa fa-circle"></i>
                <a href=""> About Us</a>
                <p>TeknoShop est site de comparateur de prix des produits électroniques :
                   les téléphones, les ordinateurs, les téléviseurs, les appareils photo ... , et appareils électroménagers : les réfrigérateurs, les machines à laver, les cuisinières, les aspirateurs ... .</p>
              </li>
            </ul>
          </div>
        </div>
  
        <div class="col-md-3">
          <div class="footer-all-menu">
            <h2>Information</h2>
            <ul>
              <li> 
                <i class="fa fa-circle"></i>
                <a href=""> Our partners</a>
              </li>
              <li> 
                <i class="fa fa-circle"></i>
                <a href=""> Our Categories</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-2">
         <button id="sign-in-admin">Sign in</button>
        </div>
  
      </div>
    </div>
    
  </section>
  <footer>
    
    <div class="containers text-center">
      <p> Copyright @ 2023  Teknoshop</p>
    </div>
  </footer>