<section class="comment"> 
   

    <div class="container" >
      <div class="com">
      
      <h1 class="heading">Client's comment</h1>
        <owl-carousel-o [options]="policyOptions">
          
          <ng-template carouselSlide>
            
                  <div class="card">
                  <img src="../../assets/user-286.png" alt="profile image" class="profile-img">
                  <h1>User name</h1>
                  <p class="about">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                  Qui optio, fuga assumenda voluptatem, 
                  explicabo dolore commodi possimus, ad repellat numquam quod velit eum esse facere illum tempora soluta ratione aspernatur.
                </p>
                
              </div>
            </ng-template> 
  
            <ng-template carouselSlide>
              <div class="card">
              <img src="../../assets/user-286.png" alt="profile image" class="profile-img">
              <h1>User name</h1>
              <p class="about">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
              Qui optio, fuga assumenda voluptatem, 
              explicabo dolore commodi possimus, ad repellat numquam quod velit eum esse facere illum tempora soluta ratione aspernatur.
            </p>
           
          </div>
        </ng-template>
  
  
        <ng-template carouselSlide>
          <div class="card">
          <img src="../../assets/user-286.png" alt="profile image" class="profile-img">
          <h1>User name</h1>
          <p class="about">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
          Qui optio, fuga assumenda voluptatem, 
          explicabo dolore commodi possimus, ad repellat numquam quod velit eum esse facere illum tempora soluta ratione aspernatur.
        </p>
        
      </div>
    </ng-template>
    <ng-template carouselSlide>
            
      <div class="card">
      <img src="../../assets/user-286.png" alt="profile image" class="profile-img">
      <h1>User name</h1>
      <p class="about">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
      Qui optio, fuga assumenda voluptatem, 
      explicabo dolore commodi possimus, ad repellat numquam quod velit eum esse facere illum tempora soluta ratione aspernatur.
    </p>
    
  </div>
  </ng-template>
  
  
       
    </owl-carousel-o>
    </div>
  
      
    </div>
    
  </section>
  
  